# Frontend Configuration
VITE_API_BASE_URL=http://localhost:3000/api
VITE_API_HOST=http://localhost:3000

# Backend Configuration
PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173
MONGODB_URI=mongodb://localhost:27017/pfe

# MongoDB Cloud Atlas (alternative to local MongoDB)
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/dbname?retryWrites=true&w=majority
